@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="position-absolute top-50 start-50 translate-middle">
    <form class="mb-3">
        <input type="text" class="input-group-text" name="link" placeholder="Enter a link"/>
        <br>
        <button class="btn btn-success ">Send</button>
    </form>
</div>